{% extends 'frontend.html.twig' %}

{% block id 'usuario' %}

{% block nav %}
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
	    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><p class="navbar-text"><strong>{{ app.user }} </strong><span class="glyphicon glyphicon-menu-down"></span></p></a>
			<ul class="dropdown-menu">
			<li><a href="{{ path('usuario_logout') }}">{{ 'Cerrar sesión'|trans }}</a></li>
			</ul>
	    </li>
	</ul>
{% endblock %}

{% block article %}
<div class="container">
	<div class="row">
		<div class="container">

			{% set sum114 = 0 %} 
			{% for a114 in val14082474 %}
			    {% set sum114 = sum114 + a114.valor %}
			{% endfor %}

			{% set sum124 = 0 %} 
			{% for a124 in val14082484 %}
			    {% set sum124 = sum124 + a124.valor %}
			{% endfor %}

			{% set sum134 = 0 %} 
			{% for a134 in val14082494 %}
			    {% set sum134 = sum134 + a134.valor %}
			{% endfor %}

			{% set sum144 = 0 %} 
			{% for a144 in val14082504 %}
			    {% set sum144 = sum144 + a144.valor %}
			{% endfor %}


			{% set sum213 = 0 %} 
			{% for a213 in val14082473 %}
			    {% set sum213 = sum213 + a213.valor %}
			{% endfor %}

			{% set sum223 = 0 %} 
			{% for a223 in val14082483 %}
			    {% set sum223 = sum223 + a223.valor %}
			{% endfor %}

			{% set sum233 = 0 %} 
			{% for a233 in val14082493 %}
			    {% set sum233 = sum233 + a233.valor %}
			{% endfor %}

			{% set sum243 = 0 %} 
			{% for a243 in val14082503 %}
			    {% set sum243 = sum243 + a243.valor %}
			{% endfor %}

			{% set sum312 = 0 %} 
			{% for a312 in val14082472 %}
			    {% set sum312 = sum312 + a312.valor %}
			{% endfor %}

			{% set sum322 = 0 %} 
			{% for a322 in val14082482 %}
			    {% set sum322 = sum322 + a322.valor %}
			{% endfor %}

			{% set sum332 = 0 %} 
			{% for a332 in val14082492 %}
			    {% set sum332 = sum332 + a332.valor %}
			{% endfor %}

			{% set sum342 = 0 %} 
			{% for a342 in val14082502 %}
			    {% set sum342 = sum342 + a342.valor %}
			{% endfor %}


			{% set rub1 = (sum114 - sum213 - sum312) %}
			{% set rub2 = (sum124 - sum223 - sum322) %}
			{% set rub3 = (sum134 - sum233 - sum332) %}
			{% set rub4 = (sum144 - sum243 - sum342) %}



			{% set sum414 = 0 %} 
			{% for a414 in val14182514 %}
			    {% set sum414 = sum414 + a414.valor %}
			{% endfor %}

			{% set sum424= 0 %} 
			{% for a424 in val14182524 %}
			    {% set sum424= sum424+ a424.valor %}
			{% endfor %}

			{% set sum434 = 0 %} 
			{% for a434 in val14182534 %}
			    {% set sum434 = sum434 + a434.valor %}
			{% endfor %}

			{% set sum444 = 0 %} 
			{% for a444 in val14182544 %}
			    {% set sum444 = sum444 + a444.valor %}
			{% endfor %}

			{% set sum513 = 0 %} 
			{% for a513 in val14182513 %}
			    {% set sum513 = sum513 + a513.valor %}
			{% endfor %}

			{% set sum523 = 0 %} 
			{% for a523 in val14182523 %}
			    {% set sum523 = sum523 + a523.valor %}
			{% endfor %}

			{% set sum533 = 0 %} 
			{% for a533 in val14182533 %}
			    {% set sum533 = sum533 + a533.valor %}
			{% endfor %}

			{% set sum543 = 0 %} 
			{% for a543 in val14182543 %}
			    {% set sum543 = sum543 + a543.valor %}
			{% endfor %}


			{% set sum612 = 0 %} 
			{% for a612 in val14182512 %}
			    {% set sum612 = sum612 + a612.valor %}
			{% endfor %}

			{% set sum622 = 0 %} 
			{% for a622 in val14182522 %}
			    {% set sum622 = sum622 + a622.valor %}
			{% endfor %}

			{% set sum632 = 0 %} 
			{% for a632 in val14182532 %}
			    {% set sum632 = sum632 + a632.valor %}
			{% endfor %}

			{% set sum642 = 0 %} 
			{% for a642 in val14182542 %}
			    {% set sum642 = sum642 + a642.valor %}
			{% endfor %}


			{% set rub5 = (sum414 - sum513 - sum612) %}
			{% set rub6 = (sum424 - sum523 - sum622) %}
			{% set rub7 = (sum434 - sum533 - sum632) %}
			{% set rub8 = (sum444 - sum543 - sum642) %}




			{% set sum714 = 0 %} 
			{% for a714 in val14382574 %}
			    {% set sum714 = sum714 + a714.valor %}
			{% endfor %}

			{% set sum724= 0 %} 
			{% for a724 in val14382584 %}
			    {% set sum724= sum724+ a724.valor %}
			{% endfor %}

			{% set sum813 = 0 %} 
			{% for a813 in val14382573 %}
			    {% set sum813 = sum813 + a813.valor %}
			{% endfor %}

			{% set sum823 = 0 %} 
			{% for a823 in val14382583 %}
			    {% set sum823 = sum823 + a823.valor %}
			{% endfor %}

			{% set sum912 = 0 %} 
			{% for a912 in val14382572 %}
			    {% set sum912 = sum912 + a912.valor %}
			{% endfor %}

			{% set sum922 = 0 %} 
			{% for a922 in val14382582 %}
			    {% set sum922 = sum922 + a922.valor %}
			{% endfor %}


			
			{% set rub9 = (sum714 - sum813 - sum912) %}
			{% set rub10 = (sum724 - sum823 - sum922) %}



			{% set sum1014 = 0 %} 
			{% for a1014 in val13982444 %}
			    {% set sum1014 = sum1014 + a1014.valor %}
			{% endfor %}

			{% set sum1024= 0 %} 
			{% for a1024 in val13982454 %}
			    {% set sum1024= sum1024+ a1024.valor %}
			{% endfor %}

			{% set sum1034 = 0 %} 
			{% for a1034 in val13982464 %}
			    {% set sum1034 = sum1034 + a1034.valor %}
			{% endfor %}

			{% set sum1113 = 0 %} 
			{% for a1113 in val13982443 %}
			    {% set sum1113 = sum1113 + a1113.valor %}
			{% endfor %}

			{% set sum1123 = 0 %} 
			{% for a1123 in val13982453 %}
			    {% set sum1123 = sum1123 + a1123.valor %}
			{% endfor %}

			{% set sum1133 = 0 %} 
			{% for a1133 in val13982463 %}
			    {% set sum1133 = sum1133 + a1133.valor %}
			{% endfor %}

			{% set sum1212 = 0 %} 
			{% for a1212 in val13982442 %}
			    {% set sum1212 = sum1212 + a1212.valor %}
			{% endfor %}

			{% set sum1222 = 0 %} 
			{% for a1222 in val13982452 %}
			    {% set sum1222 = sum1222 + a1222.valor %}
			{% endfor %}

			{% set sum1232 = 0 %} 
			{% for a1232 in val13982462 %}
			    {% set sum1232 = sum1232 + a1232.valor %}
			{% endfor %}


			{% set rub11 = (sum1014 - sum1113 - sum1212) %}
			{% set rub12 = (sum1024 - sum1123 - sum1222) %}
			{% set rub13 = (sum1034 - sum1133 - sum1232) %}
			


			{% set sum1314 = 0 %} 
			{% for a1314 in val14482594 %}
			    {% set sum1314 = sum1314 + a1314.valor %}
			{% endfor %}

			{% set sum1324 = 0 %} 
			{% for a1324 in val14482604 %}
			    {% set sum1324 = sum1324 + a1324.valor %}
			{% endfor %}

			{% set sum1334 = 0 %} 
			{% for a1334 in val14482614 %}
			    {% set sum1334 = sum1334 + a1334.valor %}
			{% endfor %}

			{% set sum1344 = 0 %} 
			{% for a1344 in val14482624 %}
			    {% set sum1344 = sum1344 + a1344.valor %}
			{% endfor %}

			{% set sum1413 = 0 %} 
			{% for a1413 in val14482593 %}
			    {% set sum1413 = sum1413 + a1413.valor %}
			{% endfor %}

			{% set sum1423 = 0 %} 
			{% for a1423 in val14482603 %}
			    {% set sum1423 = sum1423 + a1423.valor %}
			{% endfor %}

			{% set sum1433 = 0 %} 
			{% for a1433 in val14482613 %}
			    {% set sum1433 = sum1433 + a1433.valor %}
			{% endfor %}

			{% set sum1443 = 0 %} 
			{% for a1443 in val14482623 %}
			    {% set sum1443 = sum1443 + a1443.valor %}
			{% endfor %}

			{% set sum1512 = 0 %} 
			{% for a1512 in val14482592 %}
			    {% set sum1512 = sum1512 + a1512.valor %}
			{% endfor %}

			{% set sum1522 = 0 %} 
			{% for a1522 in val14482602 %}
			    {% set sum1522 = sum1522 + a1522.valor %}
			{% endfor %}

			{% set sum1532 = 0 %} 
			{% for a1532 in val14482612 %}
			    {% set sum1532 = sum1532 + a1532.valor %}
			{% endfor %}

			{% set sum1542 = 0 %} 
			{% for a1542 in val14482622 %}
			    {% set sum1542 = sum1542 + a1542.valor %}
			{% endfor %}



			{% set rub14 = (sum1314 - sum1413 - sum1512) %}
			{% set rub15 = (sum1324 - sum1423 - sum1522) %}
			{% set rub16 = (sum1334 - sum1433 - sum1532) %}
			{% set rub17 = (sum1344 - sum1443 - sum1542) %}



			{% set sum1614 = 0 %} 
			{% for a1614 in val13882234 %}
			    {% set sum1614 = sum1614 + a1614.valor %}
			{% endfor %}

			{% set sum1624= 0 %} 
			{% for a1624 in val13882244 %}
			    {% set sum1624= sum1624+ a1624.valor %}
			{% endfor %}

			{% set sum1634 = 0 %} 
			{% for a1634 in val13882254 %}
			    {% set sum1634 = sum1634 + a1634.valor %}
			{% endfor %}

			{% set sum1713 = 0 %} 
			{% for a1713 in val13882233 %}
			    {% set sum1713 = sum1713 + a1713.valor %}
			{% endfor %}

			{% set sum1723 = 0 %} 
			{% for a1723 in val13882243 %}
			    {% set sum1723 = sum1723 + a1723.valor %}
			{% endfor %}

			{% set sum1733 = 0 %} 
			{% for a1733 in val13882253 %}
			    {% set sum1733 = sum1733 + a1733.valor %}
			{% endfor %}

			{% set sum1812 = 0 %} 
			{% for a1812 in val13882232 %}
			    {% set sum1812 = sum1812 + a1812.valor %}
			{% endfor %}

			{% set sum1822 = 0 %} 
			{% for a1822 in val13882242 %}
			    {% set sum1822 = sum1822 + a1822.valor %}
			{% endfor %}

			{% set sum1832 = 0 %} 
			{% for a1832 in val13882252 %}
			    {% set sum1832 = sum1832 + a1832.valor %}
			{% endfor %}


			{% set rub18 = (sum1614 - sum1713 - sum1812) %}
			{% set rub19 = (sum1624 - sum1723 - sum1822) %}
			{% set rub20 = (sum1634 - sum1733 - sum1832) %}




			{% set sum1914 = 0 %} 
			{% for a1914 in val14582634 %}
			    {% set sum1914 = sum1914 + a1914.valor %}
			{% endfor %}

			{% set sum1924= 0 %} 
			{% for a1924 in val14582644 %}
			    {% set sum1924= sum1924+ a1924.valor %}
			{% endfor %}

			{% set sum2013 = 0 %} 
			{% for a2013 in val14582633 %}
			    {% set sum2013 = sum2013 + a2013.valor %}
			{% endfor %}

			{% set sum2023 = 0 %} 
			{% for a2023 in val14582643 %}
			    {% set sum2023 = sum2023 + a2023.valor %}
			{% endfor %}

			{% set sum2112 = 0 %} 
			{% for a2112 in val14582632 %}
			    {% set sum2112 = sum2112 + a2112.valor %}
			{% endfor %}

			{% set sum2122 = 0 %} 
			{% for a2122 in val14582642 %}
			    {% set sum2122 = sum2122 + a2122.valor %}
			{% endfor %}


			
			{% set rub21 = (sum1914 - sum2013 - sum2112) %}
			{% set rub22 = (sum1924 - sum2023 - sum2122) %}


			
			<div class="col-xs-3 col-md-2">
				<a id="box-finanzas" href="#" class="thumbnail" data-target="#fModal" data-toggle="modal">
					<img src="{{ asset('assets/vendor/img/png/check.png') }}" alt="Gastos e Ingresos">
					
				</a>
				<div class="caption">
			    	<h5 id="title-thumb">Gastos e Ingresos</h5>
			    </div>
			</div>
			<div class="col-xs-3 col-md-2">
				<a id="box-finanzas" href="#" class="thumbnail" data-target="#fiModal" data-toggle="modal">
					<img src="{{ asset('assets/vendor/img/png/calendar.png') }}" alt="Apoyo a Eventos">
					
				</a>
				<div class="caption">
			    	<h5 id="title-thumb">Apoyo a Eventos</h5>
			    </div>
			</div>
			<div class="col-xs-3 col-md-2">
				<a id="box-finanzas" href="#" class="thumbnail" data-target="#foModal" data-toggle="modal">
					<img src="{{ asset('assets/vendor/img/png/open-book.png') }}" alt="Proyectos Editoriales">
					
				</a>
				<div class="caption">
				    	<h5 id="title-thumb">Editoriales</h5>
				    </div>
			</div>
			<div class="col-xs-3 col-md-2">
				<a id="box-finanzas" href="#" class="thumbnail" data-target="#fModal" data-toggle="modal">
					<img src="{{ asset('assets/vendor/img/png/professor.png') }}" alt="Capacitacion y movilidad docente">
					
				</a>
				<div class="caption">
			    	<h5 id="title-thumb">Docentes</h5>
			    </div>
			</div>
			<div class="col-xs-3 col-md-2">
				<a id="box-finanzas" href="#" class="thumbnail" data-target="#sModal" data-toggle="modal">
					<img src="{{ asset('assets/vendor/img/png/desk.png') }}" alt="Apoyo Investigacion estudiantil">
					
				</a>
				<div class="caption">
			    	<h5 id="title-thumb">Estudiantes</h5>
			    </div>
			</div>
			<div class="col-xs-3 col-md-2">
				<a id="box-finanzas" href="#" class="thumbnail" data-target="#tModal" data-toggle="modal">
					<img src="{{ asset('assets/vendor/img/png/employees.png') }}" alt="Capacitacion y movilidad no docente">
					
				</a>
				<div class="caption">
			    	<h5 id="title-thumb">No Docente</h5>
			    </div>
			</div>
			<div class="col-xs-3 col-md-2">
				<a id="box-finanzas" href="#" class="thumbnail" data-target="#siModal" data-toggle="modal">
					<img src="{{ asset('assets/vendor/img/png/like.png') }}" alt="Apoyo de permanencia estudiantil y bienestar">
					
				</a>
				<div class="caption">
			    	<h5 id="title-thumb">Bienestar Estudiantil</h5>
			    </div>
			</div>
			<div class="col-xs-3 col-md-2">
				<a id="box-finanzas" href="#" class="thumbnail" data-target="#seModal" data-toggle="modal">
					<img src="{{ asset('assets/vendor/img/png/business-partnership.png') }}" alt="Apoyo a proyectos formales de extenson solidaria">
					
				</a>
				<div class="caption">
			    	<h5 id="title-thumb">Extension Solidaria</h5>
			    </div>
			</div>
			<div class="col-xs-3 col-md-2">
				<a id="box-finanzas" href="#" class="thumbnail" data-target="#fModal" data-toggle="modal">
					<img src="{{ asset('assets/vendor/img/png/presentation.png') }}" alt="Costos">
					
				</a>
				<div class="caption">
			    	<h5 id="title-thumb">Thumbnail label</h5>
			    </div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="fModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel"><strong>Docentes</strong></h4>
		</div>
		<div class="modal-body">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne" href="#collapseOne" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapseOne">
				      <h4 class="panel-title">
				        <a>Disponible</a>
				        <a class="navbar-nav navbar-right" style="padding-right: 15px;">$ 20.000.000</a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body">
					    <table class="table text-center">
							<tr style="background-color: rgb(61, 152, 59); color: white;">
								<td><strong>Rubro de egresos</strong></td>
								<td><strong>Presupuesto inicial</strong></td>
								<td><strong>Reservas</strong></td>
								<td><strong>Egresos</strong></td>
								<td><strong>Disponibilidad</strong></td>
							</tr>
							
							<tr>
								<td>Eventos y certámenes propios</td>
								<td>{{sum114 |number_format(0, ',', '.')}}</td>
								<td>{{sum213 |number_format(0, ',', '.')}}</td>
								<td>{{sum312 |number_format(0, ',', '.')}}</td>
								<td>{{rub1 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Apoyo a eventos y certámenes liderados por docentes y estudiantes de la Facultad</td>
								<td>{{sum124 |number_format(0, ',', '.')}}</td>
								<td>{{sum223 |number_format(0, ',', '.')}}</td>
								<td>{{sum322 |number_format(0, ',', '.')}}</td>
								<td>{{rub2 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Apoyo a eventos y certámenes liderados por otras dependencias u organizaciones</td>
								<td>{{sum134 |number_format(0, ',', '.')}}</td>
								<td>{{sum233 |number_format(0, ',', '.')}}</td>
								<td>{{sum332 |number_format(0, ',', '.')}}</td>
								<td>{{rub3 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Celebraciones institucionales de la Facultad</td>
								<td>{{sum144 |number_format(0, ',', '.')}}</td>
								<td>{{sum243 |number_format(0, ',', '.')}}</td>
								<td>{{sum342 |number_format(0, ',', '.')}}</td>
								<td>{{rub4 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td><strong>TOTAL PROYECTO</strong></td>
								<td><strong>{{(sum114 + sum124 + sum134 + sum144) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum213 + sum223 + sum233 + sum243) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum312 + sum322 + sum332 + sum342) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(rub1 + rub2 + rub3 + rub4) |number_format(0, ',', '.')}}</strong></td>
							</tr>
						 </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>

<div class="modal fade" id="sModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel"><strong>Estudiantes</strong></h4>
		</div>
		<div class="modal-body">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne" href="#collapseTwo" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapseOne">
				      <h4 class="panel-title">
				        <a>Disponible</a>
				        <a class="navbar-nav navbar-right" style="padding-right: 15px;">$ 20.000.000</a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body">
					    <table class="table text-center">
							<tr style="background-color: rgb(61, 152, 59); color: white;">
								<td><strong>Rubro de egresos</strong></td>
								<td><strong>Presupuesto inicial</strong></td>
								<td><strong>Reservas</strong></td>
								<td><strong>Egresos</strong></td>
								<td><strong>Disponibilidad</strong></td>
							</tr>
							
							<tr>
								<td>Apoyo a movilidad nacional Comunicacion Social</td>
								<td>{{sum414 |number_format(0, ',', '.')}}</td>
								<td>{{sum513 |number_format(0, ',', '.')}}</td>
								<td>{{sum612 |number_format(0, ',', '.')}}</td>
								<td>{{rub5 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Apoyo a movilidad internacional Comunicacion Social</td>
								<td>{{sum424 |number_format(0, ',', '.')}}</td>
								<td>{{sum523 |number_format(0, ',', '.')}}</td>
								<td>{{sum622 |number_format(0, ',', '.')}}</td>
								<td>{{rub6 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Apoyo a movilidad nacional Linguistica y Literatura</td>
								<td>{{sum434 |number_format(0, ',', '.')}}</td>
								<td>{{sum533 |number_format(0, ',', '.')}}</td>
								<td>{{sum632 |number_format(0, ',', '.')}}</td>
								<td>{{rub7 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Apoyo a movilidad internacional Linguistica y Literatura</td>
								<td>{{sum444 |number_format(0, ',', '.')}}</td>
								<td>{{sum543 |number_format(0, ',', '.')}}</td>
								<td>{{sum642 |number_format(0, ',', '.')}}</td>
								<td>{{rub8 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td><strong>TOTAL PROYECTO</strong></td>
								<td><strong>{{(sum414 + sum424 + sum434 + sum444) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum513 + sum523 + sum533 + sum543) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum612 + sum622 + sum632 + sum642) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(rub5 + rub6 + rub7 + rub8) |number_format(0, ',', '.')}}</strong></td>
							</tr>
						 </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>

<div class="modal fade" id="tModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel"><strong>No Docente</strong></h4>
		</div>
		<div class="modal-body">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne" href="#collapseThree" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapseOne">
				      <h4 class="panel-title">
				        <a>Disponible</a>
				        <a class="navbar-nav navbar-right" style="padding-right: 15px;">$ 20.000.000</a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body">
					    <table class="table text-center">
							<tr style="background-color: rgb(61, 152, 59); color: white;">
								<td><strong>Rubro de egresos</strong></td>
								<td><strong>Presupuesto inicial</strong></td>
								<td><strong>Reservas</strong></td>
								<td><strong>Egresos</strong></td>
								<td><strong>Disponibilidad</strong></td>
							</tr>
							<tr>
								<td>Apoyo a movilidad nacional Comunicación Social</td>
								<td>{{sum714 |number_format(0, ',', '.')}}</td>
								<td>{{sum813 |number_format(0, ',', '.')}}</td>
								<td>{{sum912 |number_format(0, ',', '.')}}</td>
								<td>{{rub9 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Apoyo a movilidad Internacional Comunicación Social</td>
								<td>{{sum724 |number_format(0, ',', '.')}}</td>
								<td>{{sum823 |number_format(0, ',', '.')}}</td>
								<td>{{sum922 |number_format(0, ',', '.')}}</td>
								<td>{{rub10 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td><strong>TOTAL PROYECTO</strong></td>
								<td><strong>{{(sum714 + sum724) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum813 + sum823) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum912 + sum922) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(rub9 + rub10) |number_format(0, ',', '.')}}</strong></td>
							</tr>
						 </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>


<div class="modal fade" id="foModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel"><strong>Editoriales</strong></h4>
		</div>
		<div class="modal-body">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne" href="#collapseFour" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapseOne">
				      <h4 class="panel-title">
				        <a>Disponible</a>
				        <a class="navbar-nav navbar-right" style="padding-right: 15px;">$ 20.000.000</a>
				      </h4>
				    </div>
				    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body">
					    <table class="table text-center">
					    	<tr style="background-color: rgb(61, 152, 59); color: white;">
								<td><strong>Rubro de egresos</strong></td>
								<td><strong>Presupuesto inicial</strong></td>
								<td><strong>Reservas</strong></td>
								<td><strong>Egresos</strong></td>
								<td><strong>Disponibilidad</strong></td>
							</tr>
							<tr>
								<td>Apoyo a revistas indexadas de la Facultad</td>
								<td>{{sum1014 |number_format(0, ',', '.')}}</td>
								<td>{{sum1113 |number_format(0, ',', '.')}}</td>
								<td>{{sum1212 |number_format(0, ',', '.')}}</td>
								<td>{{rub11 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Apoyo a publicaciones no indexadas de docentes y estudiantes de la Facultad</td>
								<td>{{sum1024 |number_format(0, ',', '.')}}</td>
								<td>{{sum1123 |number_format(0, ',', '.')}}</td>
								<td>{{sum1222 |number_format(0, ',', '.')}}</td>
								<td>{{rub12 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Medios y materiales propios de divulgación y promoción de la Facultad</td>
								<td>{{sum1034 |number_format(0, ',', '.')}}</td>
								<td>{{sum1133 |number_format(0, ',', '.')}}</td>
								<td>{{sum1232 |number_format(0, ',', '.')}}</td>
								<td>{{rub13 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td><strong>TOTAL PROYECTO</strong></td>
								<td><strong>{{(sum1014 + sum1024 + sum1034) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum1113 + sum1123 + sum1133) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum1212 + sum1222 + sum1232) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(rub11 + rub12 + rub13) |number_format(0, ',', '.')}}</strong></td>
							</tr>
						 </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>

<div class="modal fade" id="fiModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel"><strong>Apoyo a Eventos</strong></h4>
		</div>
		<div class="modal-body">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne" href="#collapseFive" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapseOne">
				      <h4 class="panel-title">
				        <a>Disponible</a>
				        <a class="navbar-nav navbar-right" style="padding-right: 15px;">$ 20.000.000</a>
				      </h4>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body">
					    <table class="table text-center">
							<tr style="background-color: rgb(61, 152, 59); color: white;">
								<td><strong>Rubro de egresos</strong></td>
								<td><strong>Presupuesto inicial</strong></td>
								<td><strong>Reservas</strong></td>
								<td><strong>Egresos</strong></td>
								<td><strong>Disponibilidad</strong></td>
							</tr>
							
							<tr>
								<td>Eventos y certámenes propios</td>
								<td>{{sum1314 |number_format(0, ',', '.')}}</td>
								<td>{{sum1413 |number_format(0, ',', '.')}}</td>
								<td>{{sum1512 |number_format(0, ',', '.')}}</td>
								<td>{{rub14 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Apoyo a eventos y certámenes liderados por docentes y estudiantes de la Facultad</td>
								<td>{{sum1324 |number_format(0, ',', '.')}}</td>
								<td>{{sum1423 |number_format(0, ',', '.')}}</td>
								<td>{{sum1522 |number_format(0, ',', '.')}}</td>
								<td>{{rub15 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Apoyo a eventos y certámenes liderados por otras dependencias u organizaciones</td>
								<td>{{sum1334 |number_format(0, ',', '.')}}</td>
								<td>{{sum1433 |number_format(0, ',', '.')}}</td>
								<td>{{sum1532 |number_format(0, ',', '.')}}</td>
								<td>{{rub16 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Celebraciones institucionales de la Facultad</td>
								<td>{{sum1344 |number_format(0, ',', '.')}}</td>
								<td>{{sum1443 |number_format(0, ',', '.')}}</td>
								<td>{{sum1542 |number_format(0, ',', '.')}}</td>
								<td>{{rub17 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td><strong>TOTAL PROYECTO</strong></td>
								<td><strong>{{(sum1314 + sum1324 + sum1334 + sum1344) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum1413 + sum1423 + sum1433 + sum1443) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum1512 + sum1522 + sum1532 + sum1542) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(rub14 + rub15 + rub16 + rub17) |number_format(0, ',', '.')}}</strong></td>
							</tr>
						 </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>

<div class="modal fade" id="siModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel"><strong>Bienestar Universitario</strong></h4>
		</div>
		<div class="modal-body">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne" href="#collapseSix" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapseOne">
				      <h4 class="panel-title">
				        <a>Disponible</a>
				        <a class="navbar-nav navbar-right" style="padding-right: 15px;">$ 20.000.000</a>
				      </h4>
				    </div>
				    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body">
					    <table class="table text-center">
					    	<tr style="background-color: rgb(61, 152, 59); color: white;">
								<td><strong>Rubro de egresos</strong></td>
								<td><strong>Presupuesto inicial</strong></td>
								<td><strong>Reservas</strong></td>
								<td><strong>Egresos</strong></td>
								<td><strong>Disponibilidad</strong></td>
							</tr>
							<tr>
								<td>Programa de inducciones tutorías y mentorías</td>
								<td>{{sum1614 |number_format(0, ',', '.')}}</td>
								<td>{{sum1713 |number_format(0, ',', '.')}}</td>
								<td>{{sum1812 |number_format(0, ',', '.')}}</td>
								<td>{{rub18 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Promoción deportiva artística y cultural</td>
								<td>{{sum1624 |number_format(0, ',', '.')}}</td>
								<td>{{sum1723 |number_format(0, ',', '.')}}</td>
								<td>{{sum1822 |number_format(0, ',', '.')}}</td>
								<td>{{rub19 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Clima organizacional</td>
								<td>{{sum1634 |number_format(0, ',', '.')}}</td>
								<td>{{sum1733 |number_format(0, ',', '.')}}</td>
								<td>{{sum1832 |number_format(0, ',', '.')}}</td>
								<td>{{rub20 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td><strong>TOTAL PROYECTO</strong></td>
								<td><strong>{{(sum1614 + sum1624 + sum1634) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum1713 + sum1723 + sum1733) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum1812 + sum1822 + sum1832) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(rub18 + rub19 + rub20) |number_format(0, ',', '.')}}</strong></td>
							</tr>
						 </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>

<div class="modal fade" id="seModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel"><strong>Extension Solidaria</strong></h4>
		</div>
		<div class="modal-body">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne" href="#collapseSeven" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true" aria-controls="collapseOne">
				      <h4 class="panel-title">
				        <a>Disponible</a>
				        <a class="navbar-nav navbar-right" style="padding-right: 15px;">$ 20.000.000</a>
				      </h4>
				    </div>
				    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					  <div class="panel-body">
					    <table class="table text-center">
							<tr style="background-color: rgb(61, 152, 59); color: white;">
								<td><strong>Rubro de egresos</strong></td>
								<td><strong>Presupuesto inicial</strong></td>
								<td><strong>Reservas</strong></td>
								<td><strong>Egresos</strong></td>
								<td><strong>Disponibilidad</strong></td>
							</tr>
							<tr>
								<td>Apoyo a proyectos liderados por docentes y estudiantes de la Facultad</td>
								<td>{{sum1914 |number_format(0, ',', '.')}}</td>
								<td>{{sum2013 |number_format(0, ',', '.')}}</td>
								<td>{{sum2112 |number_format(0, ',', '.')}}</td>
								<td>{{rub21 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
								<td>Apoyo a proyectos liderados por otras dependencias u organizaciones</td>
								<td>{{sum1924 |number_format(0, ',', '.')}}</td>
								<td>{{sum2023 |number_format(0, ',', '.')}}</td>
								<td>{{sum2122 |number_format(0, ',', '.')}}</td>
								<td>{{rub22 |number_format(0, ',', '.')}}</td>
							</tr>
							<tr>
							</tr>
							<tr>
								<td><strong>TOTAL PROYECTO</strong></td>
								<td><strong>{{(sum1914 + sum1924) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum2013 + sum2023) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(sum2112 + sum2122) |number_format(0, ',', '.')}}</strong></td>
								<td><strong>{{(rub21 + rub22) |number_format(0, ',', '.')}}</strong></td>
							</tr>
						 </table>
					  </div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
</div>
{% endblock %}
