{% extends '::admin.html.twig' %}


{% block navLi %}
	<ul class="nav navbar-nav">
		<li role="navigation" class="active"><a href="{{ path('admin_usuarios') }}">Lista Usuarios</a></li>
		<li role="navigation" ><a href="{{ path('admin_registro') }}">Registro Usuarios</a></li>
	</ul>
{% endblock %}

{% block article %}
<div id="content" class="col-sm-9 col-md-9 col-centered">
	<div class="table-responsie">
		<table class="table table-striped">
				<tr>
					<td>Nombre</td>
					<td>Apellidos</td>
					<td>Usuario</td>
					<td>E-Mail</td>
					<td>Eliminar</td>
				</tr>
			{% for usuario in usuarios %}
				<tr>
					<td>{{ usuario.nombre }}</td>
					<td>{{ usuario.apellidos }}</td>
					<td>{{ usuario.usuario }}</td>
					<td>{{ usuario.email }}</td>
					<td><a href="{{ path('admin_usuarios_borrar', { 'id': usuario.id }) }}"><span class="btn btn-danger" aria-hidden="true"><span class="fa fa-trash-o" aria-hidden="true"></span></span></a></td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock%}